<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">工作经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2019-03TNow">
                        <span>Mar <strong class="text-upper">2019</strong> - Nov <strong>Now</strong></span>
                    </time>
                    <h3>自学前端框架和接外包Vue项目</h3>
                    <span class="education-company">十陵镇新园二区 | 四川成都</span>
                    <p>自学Vuejs和React以及Nodejs技术</p>
                </div>

                <div class="education-box">
                    <time class="education-date" datetime="2018-06T2019-02">
                        <span>July <strong class="text-upper">2018</strong> - Feb <strong>2019</strong></span>
                    </time>
                    <h3>自学JavaWeb和Git</h3>
                    <span class="education-company">十陵镇新园二区 | 四川成都</span>
                    <p>自学JavaWeb技术和Git</p>
                </div>

                <div class="education-box">
                    <time class="education-date" datetime="2017-11T2018-06">
                        <span>Nov <strong class="text-upper">2017</strong>-June <strong>2018</strong></span>
                    </time>
                    <h3>送外卖</h3>
                    <span class="education-company">美团外卖 | 四川成都</span>
                    <p>送美团外卖</p>
                </div>

                <div class="education-box">
                    <time class="education-date" datetime="2015-11T2017-11">
                        <span>Nov <strong class="text-upper">2015</strong> - Nov <strong>2017</strong></span>
                    </time>
                    <h3>资料员</h3>
                    <span class="education-company">成都久通通信工程有限公司 | 四川成都</span>
                    <p>负责公司日常的资料整理</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->
